* {
  padding: 0;
  margin: 0;
}
:root {
  --Pink: hsl(322, 100%, 66%);
  --VeryDarkCyan: hsl(192, 100%, 9%);
  --VeryPaleBlue: hsl(207, 100%, 98%);
  --Poppins: "Poppins", sans-serif; //700
  --OpenSans: "Open Sans", sans-serif; // 400, 600, 700
}
body {
  font-family: var(--OpenSans);
  line-height: 2;
}
.curveMobile {
  display: none;
}
.curveDesktop {
  width: 100%;
}
.attribution {
  font-size: 11px;
  text-align: center;
  background: var(--VeryDarkCyan);
  color: white;
}
.attribution__link {
  color: var(--VeryPaleBlue);
}
.ctaBar {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
}
.ctaBar__box,
.feature__box {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ctaBar__logo {
  width: 22%;
}
.button {
  text-decoration: none;
  border: 1px solid var(--Pink);
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.button--white {
  color: var(--Pink);
  border-radius: 50px;
  height: 40px;
  width: 140px;
}
.ctaSecction,
.countersSecction,
.feature,
.contactSecction {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -12px;
}
.ctaSecction,
.countersSecction {
  height: fit-content;
}
.countersSecction {
  margin-bottom: 50px;
}
.ctaSecction__box,
.countersSecction__list,
.contactSecction__box {
  padding: 5em 0;
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.ctaSecction__box {
  flex-direction: column;
}
.ctaSecction__textBox {
  padding: 5em 0;
}
.ctaSecction__title,
.feature__title {
  font-family: var(--Poppins);
  font-size: 40px;
  font-weight: 700;
}
.ctaSecction__text {
  font-size: 16px;
  width: 45%;
  margin: 0 auto;
}
.ctaSecction__image {
  max-width: 90%;
}
.button--filled {
  background: var(--Pink);
  color: white;
  font-weight: 700;
  border-radius: 50px;
  box-shadow: 0 5px 15px 0px rgba(#adadad, 0.8);
  margin: 20px 0;
  height: 70px;
  width: 300px;
}
.countersSecction__list {
  width: 60%;
  justify-content: space-between;
}
.countersSecction__item {
  line-height: 1.5;
  position: relative;
}
.countersSecction__icon {
  position: absolute;
  left: 0;
}
.countersSecction__number {
  margin-top: 40px;
  font-size: 5rem;
  font-weight: 800;
}
.countersSecction__text {
  font-size: 1.2rem;
  opacity: 0.4;
}
.feature {
  background: #f6fbff;
  height: fit-content;
}
.feature__box {
  flex-direction: row-reverse;
  box-sizing: border-box;
  padding: 3em;
}
.feature__image {
  margin-top: 50px;
  max-width: 45%;
}
.feature__text {
  height: 250px;
}
.feature__descriptionBox {
  width: 44%;
}
.feature--reverse {
  background: white;
  padding: 3em 8em;
  width: 100%;
}
.contactSecction {
  background: var(--VeryDarkCyan);
}
.contactSecction__box {
  flex-direction: row-reverse;
  justify-content: space-between;
  color: white;
  text-align: left;
  font-size: 14px;
  align-items: flex-start;
}
.contactSecction__contactBox {
  width: 40%;
}
.contactSecction__newsletterBox {
  width: 45%;
}
.contactSecction__title {
  font-size: 23px;
  text-transform: uppercase;
}
.contactSecction__text {
  width: 70%;
  margin: 10px 0;
}
.contactSecction__form {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
.contactSecction__input,
.button--form {
  height: 40px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  margin: 20px 0;
  width: 65%;
}
.button--form {
  background: var(--Pink);
  width: 140px;
}
.contactSecction__info {
  margin-top: 10px;
}
.contactSecction__data {
  margin-left: 10px;
}
.contactSecction__call {
  width: 15px;
}
.contactSecction__socialMedia {
  margin: 50px 0;
}
.contactSecction__icon {
  color: white;
  font-size: 30px;
  margin-right: 20px;
  border-radius: 10px;
}
@import "./responsive";
