* {
  padding: 0;
  margin: 0;
}

:root {
  --Pink: hsl(322, 100%, 66%);
  --VeryDarkCyan: hsl(192, 100%, 9%);
  --VeryPaleBlue: hsl(207, 100%, 98%);
  --Poppins: "Poppins", sans-serif;
  --OpenSans: "Open Sans", sans-serif;
}

body {
  font-family: var(--OpenSans);
  line-height: 2;
}

.curveMobile {
  display: none;
}

.curveDesktop {
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
  background: var(--VeryDarkCyan);
  color: white;
}

.attribution__link {
  color: var(--VeryPaleBlue);
}

.ctaBar {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ctaBar__box,
.feature__box {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ctaBar__logo {
  width: 22%;
}

.button {
  text-decoration: none;
  border: 1px solid var(--Pink);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button--white {
  color: var(--Pink);
  border-radius: 50px;
  height: 40px;
  width: 140px;
}

.ctaSecction,
.countersSecction,
.feature,
.contactSecction {
  width: 100%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -12px;
}

.ctaSecction,
.countersSecction {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.countersSecction {
  margin-bottom: 50px;
}

.ctaSecction__box,
.countersSecction__list,
.contactSecction__box {
  padding: 5em 0;
  max-width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.ctaSecction__box {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ctaSecction__textBox {
  padding: 5em 0;
}

.ctaSecction__title,
.feature__title {
  font-family: var(--Poppins);
  font-size: 40px;
  font-weight: 700;
}

.ctaSecction__text {
  font-size: 16px;
  width: 45%;
  margin: 0 auto;
}

.ctaSecction__image {
  max-width: 90%;
}

.button--filled {
  background: var(--Pink);
  color: white;
  font-weight: 700;
  border-radius: 50px;
  -webkit-box-shadow: 0 5px 15px 0px rgba(173, 173, 173, 0.8);
          box-shadow: 0 5px 15px 0px rgba(173, 173, 173, 0.8);
  margin: 20px 0;
  height: 70px;
  width: 300px;
}

.countersSecction__list {
  width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.countersSecction__item {
  line-height: 1.5;
  position: relative;
}

.countersSecction__icon {
  position: absolute;
  left: 0;
}

.countersSecction__number {
  margin-top: 40px;
  font-size: 5rem;
  font-weight: 800;
}

.countersSecction__text {
  font-size: 1.2rem;
  opacity: 0.4;
}

.feature {
  background: #f6fbff;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.feature__box {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3em;
}

.feature__image {
  margin-top: 50px;
  max-width: 45%;
}

.feature__text {
  height: 250px;
}

.feature__descriptionBox {
  width: 44%;
}

.feature--reverse {
  background: white;
  padding: 3em 8em;
  width: 100%;
}

.contactSecction {
  background: var(--VeryDarkCyan);
}

.contactSecction__box {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  text-align: left;
  font-size: 14px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contactSecction__contactBox {
  width: 40%;
}

.contactSecction__newsletterBox {
  width: 45%;
}

.contactSecction__title {
  font-size: 23px;
  text-transform: uppercase;
}

.contactSecction__text {
  width: 70%;
  margin: 10px 0;
}

.contactSecction__form {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contactSecction__input,
.button--form {
  height: 40px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  margin: 20px 0;
  width: 65%;
}

.button--form {
  background: var(--Pink);
  width: 140px;
}

.contactSecction__info {
  margin-top: 10px;
}

.contactSecction__data {
  margin-left: 10px;
}

.contactSecction__call {
  width: 15px;
}

.contactSecction__socialMedia {
  margin: 50px 0;
}

.contactSecction__icon {
  color: white;
  font-size: 30px;
  margin-right: 20px;
  border-radius: 10px;
}

@media (max-width: 875px) {
  .ctaBar {
    height: 80px;
  }
  .ctaBar__logo {
    width: 30%;
  }
  .ctaSecction__text {
    width: 90%;
    margin: 1em;
    font-size: 15px;
  }
  .ctaSecction__title {
    font-size: 30px;
  }
  .countersSecction__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .countersSecction__item {
    margin-bottom: 7rem;
  }
  .feature__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0em;
    width: 100%;
  }
  .feature__image {
    min-width: 70%;
  }
  .feature__descriptionBox {
    min-width: 75%;
    text-align: center;
  }
  .feature__title {
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    margin-top: 3em;
  }
  .feature--reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contactSecction__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .button--filled {
    width: 250px;
    height: 50px;
  }
  .contactSecction {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .contactSecction__newsletterBox,
  .contactSecction__contactBox {
    width: 100%;
  }
  .contactSecction__text {
    width: 90%;
    font-size: 15px;
  }
  .contactSecction__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactSecction__input {
    width: 100%;
    height: 60px;
  }
  .button--form {
    height: 60px;
    width: 160px;
    font-size: 18px;
    margin: 0;
    margin-left: 55%;
  }
  .contactSecction__logo {
    margin-top: 8em;
  }
  .contactSecction__call,
  .contactSecction__data {
    width: 20px;
  }
  .contactSecction__text {
    margin-bottom: 3em;
  }
  .button--white {
    height: 30px;
    width: 110px;
  }
  .curveDesktop {
    display: none;
  }
  .curveMobile {
    display: block;
    min-width: 100%;
  }
  .ctaSecction__textBox {
    padding-bottom: 5em;
  }
}

@media (max-width: 375px) {
  .button--form {
    height: 60px;
    width: 160px;
    font-size: 18px;
    margin: 0;
    margin-left: 44%;
  }
}
/*# sourceMappingURL=style.css.map */