* {
  padding: 0;
  margin: 0;
}

:root {
  --Pink: hsl(322, 100%, 66%);
  --VeryDarkCyan: hsl(192, 100%, 9%);
  --VeryPaleBlue: hsl(207, 100%, 98%);
  --Poppins: "Poppins", sans-serif;
  --OpenSans: "Open Sans", sans-serif;
}

body {
  font-family: var(--OpenSans);
  line-height: 2;
}

.curve {
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution__link {
  color: #3e52a3;
}

.ctaBar {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ctaBar__box {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button {
  text-decoration: none;
  border: 1px solid var(--Pink);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button--white {
  color: var(--Pink);
  border-radius: 50px;
  height: 40px;
  width: 140px;
}

.ctaSecction,
.countersSecction {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ctaSecction__box,
.countersSecction__list {
  padding: 5em 0;
  max-width: 75%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.ctaSecction__box {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ctaSecction__textBox {
  padding: 5em 0;
}

.ctaSecction__title {
  font-family: var(--Poppins);
  font-size: 3rem;
}

.ctaSecction__text {
  font-size: 16px;
  margin: 1rem 18rem;
}

.button--filled {
  background: var(--Pink);
  color: white;
  font-weight: 700;
  border-radius: 50px;
  -webkit-box-shadow: 0 5px 15px 0px rgba(173, 173, 173, 0.8);
          box-shadow: 0 5px 15px 0px rgba(173, 173, 173, 0.8);
  margin: 50px 0;
  height: 60px;
  width: 30%;
}

.countersSecction__list {
  width: 60%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.countersSecction__item {
  line-height: 1.5;
  position: relative;
}

.countersSecction__icon {
  position: absolute;
  left: 0;
}

.countersSecction__number {
  margin-top: 40px;
  font-size: 5rem;
  font-weight: 800;
}

.countersSecction__text {
  font-size: 1.2rem;
}

.feature {
  background: #f6fbff;
}
/*# sourceMappingURL=style.css.map */